@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

#mobile-nav {
    display: none;
}

.dai {
    position: absolute;
    background-color: $primary;
    height: 100%;
    width: 100%;

    &__layout {
        margin: 0 auto;
        margin-top: 1%;
        height: 100%;
        width: 90%;
        max-width: 1200px;
        border-radius: 5px;
    }

    &__header,
    &__page-container {
        position: absolute;
        width: 100%;
    }

    &__page {
        background-color: #fff;
        margin-top: 2%;
        padding: 12px 12px;
    }
}

.form-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.toggle-listing {
    border: 1px solid $accent
}

@media only screen and (max-width: $screen-md-max) {
    .dai {
        &__layout {
            width: 100%;
        }
    }

    .mobile-link {
        color: $accent
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

}